body {
    margin: 0;
    background-color: #1F2937;
}

h1 {
    position: absolute;
    width: 354px;
    height: 80px;
    left: 52px;
    top: 115px;
    font-family: 'Karla','Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.025em;
}

#line1 {
    color: #FFFFFF;
}
#line2 {
    position: relative;
    margin-top: 70px;
    color: #4ADF86;
}

/* Supporting text */
p {
    position: absolute;
    width: 372px;
    height: 28px;
    left: 52px;
    top: 205px;
    margin-top: 25px;
    /* text-xl/leading-7/font-normal */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */

    /* Medium grey */
    color: #D5D4D8;
}

#generate {
        /* Button */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    gap: 12px;
    margin-top: 55px;
    position: absolute;
    width: 191px;
    height: 42px;
    left: 52px;
    top: 284px;

    background: #10B981;
    /* shadow/sm */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: none;

    /* Text */
    
    /* text-base/leading-6/font-medium */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    /* white */
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

#line {
    position: absolute;
    width: 1434px;
    height: 0px;
    left: 52px;
    right: 52px;
    top: 361px;
    margin-top: 60px;
    border: 1px solid #2F3E53;
}

#password1 {
    /* Rectangle 95 */
    position: absolute;
    width: 211px;
    height: 39px;
    left: 52px;
    top: 396px;
    margin-top: 65px;
    background: #273549;
    border-radius: 6px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #55F991;
}

#password2 {
    /* Rectangle 96 */
    position: absolute;
    width: 211px;
    height: 39px;
    left: 287px;
    top: 396px;
    margin-top: 65px;
    background: #273549;
    border-radius: 6px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #55F991;
}

#len {
        /* Button */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    gap: 12px;
    margin-top: 55px;
    margin-left: 225px;
    position: absolute;
    width: 75px;
    height: 42px;
    left: 52px;
    top: 284px;

    background: #10B981;
    /* shadow/sm */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: none;

    /* Text */
    
    /* text-base/leading-6/font-medium */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    /* white */
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

#numbers {
    /* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 17px 9px 15px;
gap: 12px;
margin-top: 55px;
position: absolute;
width: auto;
height: 42px;
left: 52px;
top: 284px;
margin-left: 335px;
background: #10B981;
/* shadow/sm */
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
border: none;

/* Text */

/* text-base/leading-6/font-medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* white */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

#symbols {
    /* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 17px 9px 15px;
gap: 12px;
margin-top: 55px;
position: absolute;
width: auto;
height: 42px;
left: 52px;
top: 284px;
margin-left: 472px;
background: #10B981;
/* shadow/sm */
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
border: none;

/* Text */

/* text-base/leading-6/font-medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* white */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

#generate:active {
    background: #273549;
    color: #55F991;
}

#password1:active {
    background: #10B981;
    color: #FFFFFF;
}

#password2:active {
    background: #10B981;
    color: #FFFFFF;
}
